<div class="grid grid-cols-5 gap-5 mx-20">
    <%- include('product-card') %>
    <%- include('product-card') %>
    <%- include('product-card') %>
    <%- include('product-card') %>
    <%- include('product-card') %>
    <%- include('product-card') %>
    <%- include('product-card') %>
</div>

<div class="flex justify-center mt-10">
    <a href="#" class="text-blue-500 outline outline-1 outline-blue-500 bg-white hover:bg-blue-700 hover:text-white font-medium text-sm sm:w-auto px-5 py-2.5 text-center">Lihat lebih banyak</a>
</div>